.btn {
    border-radius: 5px;
    border: none;
    font-size: 24px;
    padding: 10px 0;
    text-align: center;
    color: white
}

.btn-primary {
    background-color: #5ca8dd;
    border-bottom: 2px solid #4690c0;
}

.btn-secondary {
    
    background-color: #7a8d9b;
    border-bottom: 2px solid #173e51;
}